.DS_Store

# Compiled elisp
*.elc

# el-get and elpa - managed by el-get and packages.el
#el-get
#elpa

# Autosaves and Backups
autosaves
auto-save-list
backups

# Autocomplete history
ac-comphist.dat

# Abbreviation definitions
abbrev_defs

# swank dir
/swank

/ido.last
