[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/ruby-emacs"]
	path = vendor/ruby-emacs
	url = git://github.com/smtlaissezfaire/ruby-emacs.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/technomancy/magit.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/jump"]
	path = vendor/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/jekyll"]
	path = vendor/jekyll
	url = git://github.com/diasjorge/jekyll.el.git
[submodule "vendor/rspec-mode"]
	path = vendor/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
